[Unit]
Description=Naia BC250 GPU management
After=systemd-udev-trigger.service
ConditionKernelCommandLine=!nomodeset
ConditionKernelCommandLine=!naia.bc250.safe
StartLimitIntervalSec=300
StartLimitBurst=2

[Service]
Type=simple
ExecStart=/usr/libexec/naia-bc250-governor
Restart=no
RestartSec=10
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
